* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: #454545;
  letter-spacing: 0.5px;
  position: relative;
}



body {
  padding: 0em 3em 3em;
}
body main {
  width: 100%;
  height: auto;
}
body main img {
  height: 100%;
  display: block;
}
body main h1 {
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  color: #1e1e1e;
}

.hamburger {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: 10000;
  background: transparent;
  cursor: pointer;
}
.hamburger.is-active .hamburger--container .hamburger--bars {
  background: white;
}
.hamburger.is-active .hamburger--container .hamburger--bars:before, .hamburger.is-active .hamburger--container .hamburger--bars:after {
  background: white;
}
.hamburger.is-active .hamburger--container .hamburger--bars:before {
  left: 0.25em;
}
.hamburger.is-active .hamburger--container .hamburger--bars:after {
  left: -0.25em;
}
.hamburger .hamburger--container {
  width: 100%;
  padding: 0.25em;
  position: relative;
}
.hamburger .hamburger--container .hamburger--bars {
  height: 3px;
  width: 1.5em;
  background: #000;
  position: absolute;
  top: 0.9em;
  transition: 0.3s ease;
}
.hamburger .hamburger--container .hamburger--bars:before, .hamburger .hamburger--container .hamburger--bars:after {
  content: "";
  display: block;
  height: 3px;
  width: 1.5em;
  background: inherit;
  position: absolute;
  left: 0;
  transition: 0.3s ease;
}
.hamburger .hamburger--container .hamburger--bars:before {
  top: -0.5em;
}
.hamburger .hamburger--container .hamburger--bars:after {
  top: 0.5em;
}

.logo {
  width: 5em;
  height: 5em;
  position: absolute;
  top: 1.5em;
  left: 3em;
  z-index: 10000;
  filter: invert(1);
}
.logo img {
  width: 100%;
  display: block;
  transition: 0.3s linear 0.3s;
}
.logo.is-active img {
  filter: invert(100%);
}

.fsmenu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  display: none;
}
.fsmenu .fsmenu--container {
  width: 0;
  height: 100vh;
  padding: 8em 3em 3em;
  background: #000;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.fsmenu .fsmenu--container .fsmenu--text-block {
  width: 100%;
  height: 100%;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container {
  width: 100%;
  height: 100%;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element {
  width: 100%;
  height: 15%;
  list-style-type: none;
  text-align: right;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.2s ease;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a:hover {
  color: #E63946;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1;
  height: 1em;
  display: inline-block;
  position: relative;
  z-index: 1002;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  z-index: 1003;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--scrolling-text {
  height: 100%;
  display: flex;
  align-items: center;
  transform: translate(-20%, -100%);
  opacity: 0;
  pointer-events: none;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--scrolling-text span {
  height: 1em;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1;
  color: #1e1e1e;
  display: inline-block;
  margin-right: 1em;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element:hover .fsmenu--scrolling-text {
  opacity: 1;
  -webkit-animation: animScrollingContactTextLeft 9s linear 0s infinite;
          animation: animScrollingContactTextLeft 9s linear 0s infinite;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--link-img {
  width: 0px;
  height: 100vh;
  padding: 8em 3em 3em;
  position: absolute;
  top: 0;
  right: calc(100vw - 720px);
  z-index: 1001;
  font-size: 1px;
  pointer-events: none;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--link-img .fsmenu--img-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .fsmenu--link-img .fsmenu--img-container img {
  width: 624px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.open .fsmenu--link-img {
  left: auto;
  right: calc(100vw - 720px);
  -webkit-animation: animMenuRevealImg 0.4s ease 0s forwards;
          animation: animMenuRevealImg 0.4s ease 0s forwards;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.open .fsmenu--link-img .fsmenu--img-container img {
  right: 0;
  left: auto;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.is-closing .fsmenu--link-img {
  left: 0;
  right: auto;
  -webkit-animation: animMenuCloseImg 0.4s ease 0s forwards;
          animation: animMenuCloseImg 0.4s ease 0s forwards;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element.is-closing .fsmenu--link-img .fsmenu--img-container img {
  left: 0;
  right: auto;
}
.fsmenu.is-active {
  display: block;
}
.fsmenu.is-active .fsmenu--container {
  -webkit-animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
          animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
}
.fsmenu.is-active .fsmenu--container .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span:before {
  -webkit-animation: animMenuRevealLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.4s forwards;
          animation: animMenuRevealLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.4s forwards;
}
.fsmenu.close-menu {
  display: block;
}
.fsmenu.close-menu .fsmenu--container {
  width: 100vw;
  right: auto;
  left: 0;
  -webkit-animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s forwards;
          animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s forwards;
}
.fsmenu.close-menu .fsmenu--container .fsmenu--text-container .fsmenu--list .fsmenu--list-element a span:before {
  left: auto;
  right: 0;
  background: black;
  -webkit-animation: animMenuCloseLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
          animation: animMenuCloseLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
}

@-webkit-keyframes animMenuReveal {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes animMenuReveal {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}
@-webkit-keyframes animMenuRevealLinks {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes animMenuRevealLinks {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes animMenuClose {
  0% {
    width: 100vw;
    padding: 8em 3em 3em;
  }
  100% {
    width: 0vw;
    padding: 8em 0 0;
  }
}
@keyframes animMenuClose {
  0% {
    width: 100vw;
    padding: 8em 3em 3em;
  }
  100% {
    width: 0vw;
    padding: 8em 0 0;
  }
}
@-webkit-keyframes animMenuCloseLinks {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
@keyframes animMenuCloseLinks {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
@-webkit-keyframes animMenuRevealImg {
  0% {
    width: 0;
  }
  100% {
    width: 720px;
  }
}
@keyframes animMenuRevealImg {
  0% {
    width: 0;
  }
  100% {
    width: 720px;
  }
}
@-webkit-keyframes animMenuCloseImg {
  0% {
    width: 720px;
  }
  100% {
    width: 0;
  }
}
@keyframes animMenuCloseImg {
  0% {
    width: 720px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes animScrollingContactTextLeft {
  0% {
    transform: translate(-20%, -100%);
  }
  100% {
    transform: translate(-40%, -100%);
  }
}
@keyframes animScrollingContactTextLeft {
  0% {
    transform: translate(-20%, -100%);
  }
  100% {
    transform: translate(-40%, -100%);
  }
}


body {
  background-image: url('./images/fox1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

@media only screen and (max-width: 768px) {
    img: url(./images/fox1.jpg) {height: 100%; margin: 0; padding; 0;}
}



// @import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
// @import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
//@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=Perdomo");

body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle, #d72242, #3c0912, #d72242, #000);
}

.stage {
  height: 300px;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -14.5s;
  animation-fill-mode: forwards;
  transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

.layer:after {
// font: 150px/0.65 "Pacifico", "Kaushan Script", Futura, "Roboto", "Trebuchet MS", Helvetica, sans-serif;
  font: 60px/0.65 "Kaushan Script";
  content: "Geraldo Perdomo";
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 60px;
  color: whitesmoke;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after {
  transform: translateZ(0px);
}

.layer:nth-child(2):after {
  transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
  transform: translateZ(-3px);
}

.layer:nth-child(4):after {
  transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
  transform: translateZ(-6px);
}

.layer:nth-child(6):after {
  transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
  transform: translateZ(-9px);
}

.layer:nth-child(8):after {
  transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
  transform: translateZ(-12px);
}

.layer:nth-child(10):after {
  transform: translateZ(-13.5px);
}

.layer:nth-child(11):after {
  transform: translateZ(-15px);
}

.layer:nth-child(12):after {
  transform: translateZ(-16.5px);
}

.layer:nth-child(13):after {
  transform: translateZ(-18px);
}

.layer:nth-child(14):after {
  transform: translateZ(-19.5px);
}

.layer:nth-child(15):after {
  transform: translateZ(-21px);
}

.layer:nth-child(16):after {
  transform: translateZ(-22.5px);
}

.layer:nth-child(17):after {
  transform: translateZ(-24px);
}

.layer:nth-child(18):after {
  transform: translateZ(-25.5px);
}

.layer:nth-child(19):after {
  transform: translateZ(-27px);
}

.layer:nth-child(20):after {
  transform: translateZ(-28.5px);
}

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px dodgerblue;
  text-shadow: 6px 0 6px #d72242, 5px 5px 5px #3c0912, 0 6px 6px #d72242;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #ff002d;
}

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
  color: #fff;
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% {
    transform: rotateY(-40deg) rotateX(-43deg);
  }
}
